<div nz-row nzGutter="24" class="py-lg">
  <div nz-col nzMd="24" nzLg="7">
    <nz-card [nzBordered]="false" class="mb-lg" [nzLoading]="!user">
      <ng-container *ngFor="let item of user">
        <div class="avatar-holder">
          <div class="name">{{ item.username }}</div>
          <div>{{ item.email }}</div>
        </div>
        <div class="detail">
          <!--<p><i class="title"></i>{{ user.title }}</p>
          <p><i class="group"></i>{{ user.group }}</p>
          <p>
            <i class="address"></i>
            {{ user.geographic.province.label }}
            {{ user.geographic.city.label }}
          </p>-->
        </div>
      </ng-container>
    </nz-card>
  </div>
  <div nz-col nzMd="24" nzLg="17">
    <nz-card class="tabs-card" [nzBordered]="false" [nzTitle]="tagTitleTpl">
      <ng-template #tagTitleTpl>
        <nz-tabset nzSize="large" [nzSelectedIndex]="pos">
          <nz-tab *ngFor="let i of tabs" [nzTitle]="i.tab" (nzClick)="to(i)"></nz-tab>
        </nz-tabset>
      </ng-template>
      <router-outlet></router-outlet>
    </nz-card>
  </div>
</div>
