<page-header [title]="'All Videos'">
</page-header>
<nz-list [nzLoading]="loading" [nzRenderItem]="item" [nzPagination]="pagination" [nzDataSource]="list" [nzGrid]="{ gutter: 24, lg: 6, md: 8, sm: 12, xs: 24 }">
  <ng-template #item let-item>
    <nz-list-item>
      <nz-card nzHoverable [nzCover]="cover" (click)="goPage(item.id)">
        <ng-template #cover>
          <img alt="{{ item.videoName }}" height="200vh" src="{{ 'https://blobzack1234.blob.core.windows.net' + item.imgPath }}" />
        </ng-template>
        <nz-card-meta [nzTitle]="nzTitle" [nzDescription]="item.description">
          <ng-template #nzTitle>
            <span>{{ item.videoName}}</span>
          </ng-template>
        </nz-card-meta>
        <div class="card-item-content">
          <span class="text-grey">upload by {{ item.username}}</span>
        </div>
      </nz-card>
    </nz-list-item>
  </ng-template>
  <ng-template #pagination>
    <nz-pagination *ngIf="q.show" [nzPageIndex]="q.pi" [nzPageSize]="q.ps" [nzTotal]="q.total" (nzPageIndexChange)="listChange($event)" [nzShowTotal]="totalTemplate"></nz-pagination>
    <ng-template #totalTemplate let-total>Total {{ q.total }} items</ng-template>
  </ng-template>
</nz-list>
